:root {
    --bg-color: #111111;
    --card-bg: #1a1a1a;
    --accent-color: #d4af37;
    --text-color: #ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Cairo', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-wrapper {
    display: flex; /* هذا السطر هو الذي يجعل البطاقة بجانب النص */
    width: 95%;
    max-width: 1100px;
    gap: 20px;
}

.sidebar {
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 60px;
}

.content-container {
    display: flex;
    flex: 1;
    gap: 20px;
}

.info-section {
    flex: 2;
    background-color: var(--card-bg);
    padding: 40px;
    border-radius: 15px;
    text-align: right;
}

.profile-card {
    flex: 1;
    background-color: var(--card-bg);
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid var(--accent-color);
    margin-top: 20px;
    object-fit: cover;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Cairo';
}
